html {
    scroll-behavior: smooth;
}

h2,
h3,
h4,
.nav-item,
#transition,
footer {
    text-align: center;
}


/* ****************** HEADER ****************** */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    width: 100%;
    height: 60px;
    background-color: #17a2b8;
    display: flex;
    align-items: center;
}

header a {
    color: black;
    margin: 0 15px;
    font-size: 1em;
    flex-direction: row;
    position: relative;
}

header .icon {
    display: none;
}

.collapse {
    margin-left: 5%;
}

h1 {
    font-size: 5em;
    padding: 200px 0 0 20px;
    color: orange;
    animation: titre ease 3.5s;
}

@keyframes titre {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* ****************************** LEFT PART ************************** */

#leftPart {
    background-color: rgb(177, 211, 243);
    border-radius: 20px;
    padding: 25px;
}

.elements {
    padding: 70xp 0px;
}

.elements img {
    border-radius: 50%;
    width: 200px;
    height: 250px;
    padding: 50px 0 50px 0;
}

.elements p {
    font-size: 1.2em;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-line-clamp: 2;
    overflow: hidden;
    padding: 10px;
}

.elements .button {
    text-align: right;
    margin: 15px 4px 0 0;
}


/* **************************** RIGHT PART **************************** */

#rightPart {
    background-color: rgb(238, 250, 255);
    border-radius: 20px;
    padding: 20px;
}

.tips {
    height: 150px;
    width: 150px;
    margin: 20px auto;
    border-radius: 30px;
}

.tips h4 {
    position: relative;
    color: rgb(255, 255, 255);
    top: 50%;
    transform: translateY(-30%);
    text-shadow: 1px 1px 0 rgb(0, 0, 0);
    animation: titreh4 ease 2.5s;
}

@keyframes titreh4 {
    0% {
        opacity: 0;
        transform: translateY(180px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.tips:hover {
    transform: scale(1.08);
    opacity: 0.7;
    transition: ease-out 0.2s;
}

#transition {
    padding: 50px 0;
}

#transition img {
    animation: shake-vertical ease 2s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
}

@-webkit-keyframes shake-vertical {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    80% {
        -webkit-transform: translateY(6.4px);
        transform: translateY(6.4px);
    }
    90% {
        -webkit-transform: translateY(-6.4px);
        transform: translateY(-6.4px);
    }
}

@keyframes shake-vertical {
    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    80% {
        -webkit-transform: translateY(6.4px);
        transform: translateY(6.4px);
    }
    90% {
        -webkit-transform: translateY(-6.4px);
        transform: translateY(-6.4px);
    }
}

.shake-vertical {
    -webkit-animation: shake-vertical 2s infinite;
    animation: shake-vertical 2s infinite;
}


/* ****************************** NEWSLETTER ***************************** */

#newsletter {
    background: url(./media/nwletter.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 350px;
    width: 70%;
    min-width: 450px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 70px;
}

#newsletter h4 {
    margin-top: 15px;
    padding: 100px 0 20px 0;
    font-size: 2em;
    text-shadow: 1px 1px 0 rgb(252, 143, 0);
}

#newsletter .input-group {
    width: 40%;
    min-width: 350px;
    margin: 0 auto;
}


/* ****************************** FOOTER *************************** */

footer {
    background-color: #17a2b8;
    padding: 15px 0 4px 0;
}


/* **************************** EVENEMENTS ****************************** */

#part {
    border-radius: 20px;
    padding: 20px;
    font-size: xx-large;
    overflow: hidden;
    padding: 10px;
}

#part img {
    border-radius: 20%;
    width: 200px;
    padding: 50px 0 50px 0;
}

.btnPopUp {
    background-color: orange;
    padding: 1em 2em;
    font-size: 14pt;
    color: black;
    cursor: pointer;
}

.btnPopUp:hover {
    background-color: lightskyblue;
}

.overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
}

.popup {
    margin: 20% auto;
    width: 70%;
    background-color: rgb(245, 195, 148);
    border-radius: 10%;
    box-shadow: 15px 20px 0 rgb(170, 208, 247);
    padding: 1em;
}

.btnClose {
    float: right;
    cursor: pointer;
}


/* ************************ MEDIA QUERIES ************************** */

@media screen and (max-width: 600px) {
    header a {
        display: none;
        color: black;
    }
    header .icon {
        background-color: #17a2b8;
        display: block;
        position: relative;
        cursor: pointer;
        font-size: 30px;
    }
    header.navresponsive a {
        display: block;
        padding: 5px 0;
        width: 100%;
    }
    header {
        flex-direction: column;
        min-height: 70px;
        height: 100%;
        align-items: flex-start;
    }
}

@media screen and (min-width: 600px) {
    #rightPart {
        display: block;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }
    #rightPart h2 {
        display: none;
    }
    .tips h4 {
        font-size: 1em;
    }
    .tips {
        height: 20vw;
        width: 20vw;
    }
    #part {
        display: flex;
    }
    .elements p {
        font-size: 1em;
        text-align: justify;
    }
    .elements img {
        max-width: 150px;
        margin-top: 10px;
    }
    #newsletter h4 {
        padding: 50px 0;
        font-size: 2em;
    }
    #part {
        display: flex;
    }
}

@media screen and (min-width: 800px) {
    #rightPart {
        display: flex;
        flex-direction: row;
    }
    #rightPart h2 {
        display: none;
    }
    h1 {
        font-size: 3em;
    }
    .elements {
        padding: 30px 0;
    }
    .elements img {
        max-width: 200px;
        margin-top: 10px;
    }
    #transition img {
        width: 250px;
    }
    .tips {
        width: 90px;
        height: 90px;
    }
    .tips h4 {
        font-size: 0.9em;
    }
    #newsletter {
        width: 140px;
        margin-top: 40px;
    }
    #newsletter h4 {
        padding: 30px 0;
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1200px) {
    #rightPart {
        display: flex;
        flex-direction: column;
    }
    .tips {
        width: 10em;
        height: 10em;
        flex-direction: column;
    }
    #rightPart h2 {
        display: none;
    }
}